.login{
  .login-padding-div{
    padding-top: 15vh;
    padding-bottom: 20vh;
    padding-left: 20vw;
    padding-right: 20vw;
  }

  .login-form{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50vh;
  }

  .login-form-padding-div{
    padding: 10vh
  }
}
